.btn {
  display: inline-flex;
  padding: 10px 15px;
  color: $color-text-light;
  background-color: transparent;
  cursor: pointer;
  justify-content: center;
  align-items: center;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}
