.feedback {
  background-color: $color-blue;
  position: relative;
  min-height: 840px;

  &::before {
    content: "";
    position: absolute;
    clip-path: polygon(50.5% 0, 0 0, 0 100%);
    background-color: rgba($color: $color-dark-blue, $alpha: 0.5);
    width: 100%;
    height: 100%;
  }

  @include vp-1023 {
    min-height: 580px;

    &::before {
      display: none;
    }
  }

  @include vp-767 {
    min-height: 750px;
  }
}

.feedback__wrapper {
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 164px;

  @include vp-1023 {
    padding-top: 44px;
  }
}

.feedback__wrapper img {
  z-index: 1;
  margin-top: 82px;
  height: 285px;
  position: relative;

  @include vp-1023 {
    display: none;
  }
}

.feedback__wrapper-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-width: 580px;
  margin-right: 10px;

  @include vp-1023 {
    max-width: 100%;
    margin: 0;
  }
}

.feedback h2 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  color: $color-default-white;
  margin: 0;
  margin-bottom: 15px;
  margin-left: -4px;

  @include vp-1023 {
    margin-bottom: 8px;
    margin-left: 0;
  }

  @include vp-767 {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 10px;
  }
}

.feedback p {
  line-height: 22px;
  color: $color-default-white;
  margin: 0;
  margin-bottom: 32px;

  @include vp-1023 {
    margin-bottom: 25px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 34px;
  }
}

.feedback__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.feedback__container {
  display: flex;
  margin-bottom: 20px;
  gap: 30px;
  width: 100%;

  @include vp-767 {
    flex-direction: column;
    margin-bottom: 20px;
    gap: 20px;
  }
}

.feedback__form input,
.feedback__form textarea {
  width: 100%;
  height: 50px;
  background-color: rgba($color:$color-dark-blue, $alpha: 0.15);
  border-radius: 3px;
  border: none;
  padding: 15px;

  &::placeholder {
    font-size: 16px;
    line-height: 22px;
    color: $color-default-white;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    outline: 1px solid $color-dark-blue;
  }

  @include vp-1023 {
    padding-top: 12px;
  }
}

.feedback__form label {
  width: 100%;
}

.feedback__form textarea {
  height: 155px;
  padding: 0;
  padding-top: 25px;
  padding-left: 15px;
  margin-bottom: 36px;

  @include vp-1023 {
    padding-top: 30px;
    margin-bottom: 35px;
  }

  @include vp-767 {
    height: 180px;
    margin-bottom: 30px;
    padding-top: 23px;
  }
}

.feedback__wrapper-button {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  position: relative;

  @include vp-767 {
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 100%;
  }
}

.feedback__button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  background: $color-dark-blue;
  border-radius: 3px;
  border: none;
  width: 265px;
  min-height: 45px;
  margin-right: 50px;
  user-select: none;

  @include vp-1023 {
    padding-top: 14px;
    margin-right: 85px;
  }

  @include vp-767 {
    width: 100%;
    margin-bottom: 25px;
    margin-right: 0;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    outline: 1px solid $color-default-white;
  }

  &:active {
    color: $color-blue;
  }
}

.feedback__wrapper-button label {
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  opacity: 0.8;
  width: 234px;
  min-height: 30px;
  padding-left: 26px;
  position: relative;
  cursor: pointer;
  user-select: none;

  &::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid $color-default-white;
    border-radius: 2px;
    left: 0;
    top: 8px;
  }

  @include vp-1023 {
    margin-bottom: 6px;
  }

  @include vp-767 {
    padding-left: 30px;

    &::before {
      left: 5px;
      top: 7px;
    }
  }
}

.feedback__form input[type="checkbox"] {
  width: 234px;
  right: 33px;

  @include vp-1023 {
    right: 270px;
  }

  @include vp-767 {
    right: 0;
    bottom: 0;
  }
}

.feedback__form input[type="checkbox"]:checked + label::before {
  background-image: url("../img/svg/arrow-checkbox.svg");
  background-repeat: no-repeat;
  background-position: 1px 3px;
}

.feedback__form input[type="checkbox"]:hover + label,
.feedback__form input[type="checkbox"]:focus + label,
.feedback__form input[type="checkbox"]:focus-visible + label {
  outline: 2px solid $color-dark-blue;
  outline-offset: 2px;
}
