.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba($color: $color-dark-blue, $alpha: 1) 84.9%, rgba($color: $color-dark-blue, $alpha: 0) 100%);

  @include vp-1023 {
    position: absolute;
  }
}

.header__container {
  max-width: 1260px;
  margin: 0 auto;
  min-height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-right: 80px;

  @include vp-1023 {
    min-height: 100px;
    padding-right: 14px;
  }

  @include vp-767 {
    padding-right: 5px;
    min-height: 70px;
  }
}

.header__logo {
  padding-bottom: 5px;
  padding-left: 20px;

  @include vp-1023 {
    padding: 0;
    margin-bottom: 5px;
  }

  @include vp-767 {
    width: 35px;
    height: 35px;
    margin-bottom: 5px;
  }
}

.header__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  min-height: 38px;
  width: 40%;
  min-width: 370px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  padding-right: 9px;
  padding-left: 3px;

  @include vp-1023 {
    min-width: 97px;
    width: 97px;
    padding: 0;
    padding-bottom: 20px;
  }

  @include vp-767 {
    padding: 0;
  }
}

.header__link {
  padding-left: 35px;
  position: relative;

  &--mail::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0;
    top: 0;
    background: url("../img/svg/mail.svg") no-repeat center;
  }

  &--phone::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0;
    top: 0;
    background: url("../img/svg/phone.svg") no-repeat center;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    outline: 1px solid $color-blue;
    outline-offset: 2px;
  }

  &:active {
    color: $color-blue;
  }
}

.header__text {
  @include vp-1023 {
    display: none;
  }
}

.header__button {
  border: 1px solid $color-text-light;
  border-radius: 3px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 12px;
  width: 160px;

  @include vp-1023 {
    display: none;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    border: none;
    outline: 1px solid $color-blue;
  }

  &:active {
    color: $color-blue;
  }
}
