.logo {
  display: grid;
  column-gap: 15px;
  grid-template-columns: 55px 145px;
  grid-template-areas:
    "logo text"
    "logo description";
  width: 215px;
  height: 55px;
}

.logo__image {
  grid-area: logo;
}

.logo__text {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 29px;
  grid-area: text;
  color: $color-text-light;

  @include vp-1023 {
    display: none;
  }
}

.logo__description {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  grid-area: description;

  @include vp-1023 {
    display: none;
  }
}
