.services {
  background-color: $color-dark-blue;
}

.services__wrapper {
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  padding-bottom: 140px;

  @include vp-1023 {
    padding-top: 60px;
    padding-bottom: 75px;
  }

  @include vp-767 {
    padding-top: 50px;
    padding-bottom: 86px;
  }
}

.services__text {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;
  margin: 0;
  margin-bottom: 50px;
}

.services__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  @include vp-1023 {
    flex-direction: column;
  }

  //@include vp-767 {
  //  padding-top: 50px;
  //  padding-bottom: 86px;
  //}
}

.services__link {
  display: block;
  width: 350px;
  height: 650px;
  margin-right: 85px;
  padding-top: 50px;
  padding-left: 40px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: $color-default-white;
  position: relative;

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }

  @include vp-1023 {
    width: 100%;
    height: 250px;
    margin-right: 0;
    margin-bottom: 30px;
    padding-top: 40px;
    padding-left: 45px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 30px;
    padding-top: 30px;
    padding-left: 30px;
  }

  &--production {
    background-image: linear-gradient(rgba($color: $color-dark-blue, $alpha: 0.5), rgba($color: $color-dark-blue, $alpha: 0.5)),
      url("../../img/background/background-services-desktop1.png");

    @include vp-1023 {
      background-image: linear-gradient(rgba($color: $color-dark-blue, $alpha: 0.5), rgba($color: $color-dark-blue, $alpha: 0.5)),
        url("../../img/background/background-services-tablet1.png");
      background-repeat: no-repeat;
      background-size: cover;
    }

    @include vp-767 {
      background-image: linear-gradient(rgba($color: $color-dark-blue, $alpha: 0.5), rgba($color: $color-dark-blue, $alpha: 0.5)),
        url("../../img/background/background-services-mobile1.png");
    }
  }

  &--montage {
    background-image: linear-gradient(rgba($color: $color-dark-blue, $alpha: 0.5), rgba($color: $color-dark-blue, $alpha: 0.5)),
      url("../../img/background/background-services-desktop2.png");

    @include vp-1023 {
      background-image: linear-gradient(rgba($color: $color-dark-blue, $alpha: 0.5), rgba($color: $color-dark-blue, $alpha: 0.5)),
        url("../../img/background/background-services-tablet2.png");
      background-repeat: no-repeat;
      background-size: cover;
    }

    @include vp-767 {
      background-image: linear-gradient(rgba($color: $color-dark-blue, $alpha: 0.5), rgba($color: $color-dark-blue, $alpha: 0.5)),
        url("../../img/background/background-services-mobile2.png");
    }
  }

  &--accessories {
    background-image: linear-gradient(rgba($color: $color-dark-blue, $alpha: 0.5), rgba($color: $color-dark-blue, $alpha: 0.5)),
      url("../../img/background/background-services-desktop3.png");

    @include vp-1023 {
      background-image: linear-gradient(rgba($color: $color-dark-blue, $alpha: 0.5), rgba($color: $color-dark-blue, $alpha: 0.5)),
        url("../../img/background/background-services-tablet3.png");
      background-repeat: no-repeat;
      background-size: cover;
    }

    @include vp-767 {
      background-image: linear-gradient(rgba($color: $color-dark-blue, $alpha: 0.5), rgba($color: $color-dark-blue, $alpha: 0.5)),
        url("../../img/background/background-services-mobile3.png");
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    right: 0;
    background-color: $color-blue;
    background-image: url("../../img/svg/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px 0 0 0;

    @include vp-767 {
      width: 40px;
      height: 40px;
    }
  }
}

.services__info {
  display: block;
  width: 160px;
}
