.footer-social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  @include vp-1023 {
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 29px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 19px;
    margin-bottom: 0;
  }
}

.footer-social__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  height: 40px;
  width: 155px;
  justify-content: space-between;
  margin-top: 35px;
  padding-left: 15px;

  @include vp-1023 {
    margin-top: 4px;
  }

  @include vp-767 {
    width: 144px;
    margin-top: 20px;
    padding-left: 4px;
  }
}

.footer-social__link {
  display: block;

  &:focus {
    outline: none;
  }
}

.footer-social__icon {
  fill: $color-background;
}

.footer-social__link:hover .footer-social__icon,
.footer-social__link:focus .footer-social__icon,
.footer-social__link:focus-visible .footer-social__icon {
  outline: 1px solid $color-blue;
  outline-offset: 2px;
}

.footer-social__link:active .footer-social__icon {
  fill: $color-blue;
}

.footer-social__logo {
  @include vp-767 {
    margin-right: 5px;
  }
}
